body{
    margin: 0;
    padding: 0;
  }
  
  nav{
    max-height: 1.8rem;  
    padding: 1.2rem 1.1rem;
  }
  
  nav a{
    text-decoration: none;
    color: #000;
    margin-left: 18rem;
    font-size: 1.5rem; 
  }

nav .description{
  color: #999;
}
nav .goals{
    color: #999;
}
nav .rules{
    color: #000;
    border-bottom: 1px solid #555;
}
  





/* ///////////////main////////////////////////// */


.todo{
    display: inline-flex;
    margin: 15rem 30rem;
    border: 1px solid #555;
    height: 300px;
    width: 550px;
}

.rightPart{
    padding: 7px 7px;    
}

.leftPart{
    border-right: 1px solid #333;
    padding: 1rem;
    padding-top: 3.5rem;
}

.leftPart span{
    font-size: 1.5rem;
}
